name: Check links
on: [push]

jobs:
  link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run lychee link checker
        uses: lycheeverse/lychee-action@v1
        with:
          args: --recursive .
